.panels
  .panel
    h3 More Code Translation
    h1 摩斯密码翻译器
    textarea(rows="4",placeholder="输入英文")#input MorseCode
    .symbol ⇵
    textarea(rows="4",placeholder="输出密码")#output
    //这里还不够了解需要补强
    .playlist
    .buttons
      button.purple#btnMorse 翻译成密码
      button.yellow#btnEng 翻译回来
      button.white#btnPlay 播放
    audio.short(src="http://2017.awiclass.monoame.com/audio/morse/short.mp3" )
    audio.long(src="http://2017.awiclass.monoame.com/audio/morse/long.mp3" )
  .panel.yellow
    h3 清单
    hr
    ul.translist
    
.decoration MORSE CODE